# Jekyll - the "_site" directory is basically a compiled version of the website.
_site/
.sass-cache/
.jekyll-metadata

# Sublime Text - workspace files are user-specific
*.sublime-workspace

# Windows
Thumbs.db

# Ruby
Gemfile.lock
