/*
 * Insert any additional CSS/SCSS we need.
 */

body { 
    background-image: url(/images/plaid-light-tile.png);
    padding-bottom: 25px;
}

textarea {
    background-color: rgba(255,255,255,0.9) !important;
}
